.card{
    position:relative;
    text-align:center;
    img{
        box-shadow:0 4px 8px 0 rgba(255,255,255, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: azure;
        border-radius: 10px;
        max-width: 200px;
        transition:all 0.5s;
        &:hover{
            transform:scale(1.1);
        }
    }
    span{
        width:1;
        width:80%;
    }
}